{% extends "head.html" %}

{% block content %}

<!-- Banner -->
{% if request.site.id == 1 %}
<div class="jumbotron bg-cover text-center text-light">
<div class="py-5 my-5">
<div class="overlay"></div>
<h1 class="display-1 my-5">moe.ph</h1>
<p class="lead my-5">Cute and Depressed</p>
</div>
</div>
{% endif %}

{% if request.site.id == 2 %}
<div class="jumbotron bg-cover text-center text-light">
<div class="py-5 my-5">
<div class="overlay"></div>
<h1 class="display-1 my-2">Eros Secret Shoppu</h1>
<h2 class="display-2 my-1">by moe.ph</h2>
<p class="lead my-5">Cute and Depressed</p>
</div>
</div>
{% endif %}


<div class="card my-4">
<div class="jumbotron text-center">
<h1 class="display-5">Not so Mainstream Manga for Everyone</h1>
<hr class="my-4">
<p class="lead">The secret Yuri shop of convention events. We are also selling normal manga and yaoi stuffs, so take your time and take a look.</p>
</div>	
</div>

{% if new_arrival %}
	<div class="jumbotron text-center">
	<h1 class="jumbotron-heading">New Arrivals</h1>
	</div>
	<div class="album p-4 bg-light">
	<div class="row">
	{% for volume in new_arrival %}
		<div class="col-lg-2 col-md-4 col-6">
		<div class="card mb-2">
		{% if volume.image %}
		<a href="{% url 'book:book-detail' volume.title.genre volume.title.code %}">
		<img class="card-img-top" src="{{ volume.image.url }}" alt="{{ book.get_first_volume_image.name }}"></a>
		{% endif %}
		<div class="card-body">
		<a href="{% url 'book:book-detail' volume.title.genre volume.title.code %}">
		<h6 class="card-text">{{ volume.get_title }}</h6>
		</a>
		</div>
		</div>
		</div>
	{% endfor %}
	</div>
	</div>

{% endif %}

{% if featured_book %}
	<div class="jumbotron text-center">
	<h1 class="jumbotron-heading">Featured Titles</h1>
	</div>
	<div class="album p-4 bg-light">
	<div class="row">
	{% for book in featured_book %}
		<div class="col-lg-2 col-md-4 col-6">
		<div class="card mb-2">
		{% if book.get_first_volume_image %}
		<a href="{% url 'book:book-detail' book.genre.name book.code %}">
		<img class="card-img-top" src="{{ book.get_first_volume_image.url }}" alt="{{ book.get_first_volume_image.name }}"></a>
		{% endif %}
		<div class="card-body">
		<a href="{% url 'book:book-detail' book.genre.name book.code %}">
		<h6 class="card-text">{{ book.title }}
		<small class="text-muted"> by {{ book.author.name }}</small>
		</h6></a>
		</div>
		</div>
		</div>
	{% endfor %}
	</div>
	</div>
{% endif %}

{% if genre_list %}
<div class="jumbotron text-center">
<h1 class="jumbotron-heading">Browse Item by Genre</h1>
</div>

<div class="container album p-4">
<div class="row">
	{% for genre in genre_list %}

	<div class="col-md-4 col-12">
	<div class="card mb-2 box-shadow">
	<div class="card text-center">
	<div class="card-body">
	<h5 class="card-title">{{ genre.name | capfirst }}</h5>
	<p class="card-text"></p>
	<a href="{% url 'book:book' genre.code %}" class="btn btn-primary">Browse {{ genre.name | capfirst }}</a>
	</div>
	</div>
	</div>
	</div>
	{% endfor %}

</div>			
</div>
{% endif %}


{% endblock %}