{% extends "head.html" %}

{% block content %}

<!--Main-->

<div id="main">

{% if all_details %}
<div class="jumbotron text-center">
<h1 class="jumbotron-heading">Browse All Books</h1>
</div>
{% endif %}

{% if shirt_list %}
<div class="album p-4 bg-light">
<div class="row">

{% for shirt in shirt_list %}
<div class="col-lg-2 col-md-4 col-sm-6">
<div class="card mb-2">
<div class="card-body">
<a href="{% url 'shirt:shirt-detail' shirt.code %}">
<h6 class="card-text">{{ shirt.name }}
</h6></a>
</div>

</div>
</div>
{% endfor %}

{% endif %}
</div>
</div>
</div>

{% endblock %}