{% extends "head.html" %}

{% block title %}
<title>moe.ph</title>
{% endblock %}

{% block meta %}
<!--
Facebook Metadata
<meta property="og:url"                content="URL" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="TITLE" />
<meta property="og:description"        content="DESCRIPTION" />
<meta property="og:image"              content="IMAGE" />

Google Metadata
<meta name="Description" content="Author: A.N. Author, Illustrator: P. Picture, Category: Books, Price:  £9.24, Length: 784 pages">
-->
{% endblock %}

{% block banner %}
<style>
.bg-cover {
  background-image: url('{{ site_info.banner.url }}');
}
</style>
{% endblock %}

{% block content %}

<!-- Banner -->

{{ site_info.header | safe }}
{{ site_info.description | safe }}



{% if new_arrival %}
	<div class="jumbotron text-center">
	<h1 class="jumbotron-heading">New Arrivals</h1>
	</div>
	<div class="album p-4 bg-light">
	<div class="row">
	{% for volume in new_arrival %}
		<div class="col-lg-2 col-md-4 col-6">
		<div class="card mb-2">
		{% if volume.image %}
		<a href="{% url 'book:book-detail' volume.title.genre volume.title.code %}">
		<img class="card-img-top" src="{{ volume.image.url }}" alt="{{ book.get_first_volume_image.name }}"></a>
		{% endif %}
		<div class="card-body">
		<a href="{% url 'book:book-detail' volume.title.genre volume.title.code %}">
		<h6 class="card-text">{{ volume.get_title }}</h6>
		</a>
		</div>
		</div>
		</div>
	{% endfor %}
	</div>
	</div>

{% endif %}

{% if featured_book %}
	<div class="jumbotron text-center">
	<h1 class="jumbotron-heading">Featured Titles</h1>
	</div>
	<div class="album p-4 bg-light">
	<div class="row">
	{% for book in featured_book %}
		<div class="col-lg-2 col-md-4 col-6">
		<div class="card mb-2">
		{% if book.get_first_volume_image %}
		<a href="{% url 'book:book-detail' book.genre.name book.code %}">
		<img class="card-img-top" src="{{ book.get_first_volume_image.url }}" alt="{{ book.get_first_volume_image.name }}"></a>
		{% endif %}
		<div class="card-body">
		<a href="{% url 'book:book-detail' book.genre.name book.code %}">
		<h6 class="card-text">{{ book.title }}
		<small class="text-muted"> by {{ book.author.name }}</small>
		</h6></a>
		</div>
		</div>
		</div>
	{% endfor %}
	</div>
	</div>
{% endif %}

{% if genre_list %}
<div class="jumbotron text-center">
<h1 class="jumbotron-heading">Browse Item by Genre</h1>
</div>

<div class="container album p-4">
<div class="row">
	{% for genre in genre_list %}

	<div class="col-md-4 col-12">
	<div class="card mb-2 box-shadow">
	<div class="card text-center">
	<div class="card-body">
	<h5 class="card-title">{{ genre.name | capfirst }}</h5>
	<p class="card-text"></p>
	<a href="{% url 'book:book' genre.code %}" class="btn btn-primary">Browse {{ genre.name | capfirst }}</a>
	</div>
	</div>
	</div>
	</div>
	{% endfor %}

</div>			
</div>
{% endif %}


{% endblock %}