{% extends "head.html" %}

{% block content %}

<!--Main-->
<div id="main">


{% if book %}
	<div class="card m-4">
	<div class="card-body">
	<h2 class="card-title">{{ book.title }}</h2>
	<p class="card-text">{{ book.summary }}</p>
	<ul class="list-group list-group-flush">
	<li class="list-group-item">Author: 
		<a href="{% url 'book:book-author' book.author.code %}">{{ book.author.name }}</a> 
	</li>
	<li class="list-group-item">Genre: 
		<a href="{% url 'book:book' book.genre.code %}">{{ book.genre.name }}</a> 
	</li>
	<li class="list-group-item">Tags: 
		{% for tag in book.get_tags %}
			<a href="{% url 'book:book-tag' tag.code %}">{{ tag.name }}</a>, 
		{% endfor %}
	</li>
	</ul>
	<!--
	<p class="card-text">Author: 
		<a href="{% url 'book:book-author' book.author.code %}">{{ book.author.name }}</a> 
	</p>
	<p class="card-text">Genre: 
		<a href="{% url 'book:book' book.genre.code %}">{{ book.genre.name }}</a> 
	</p>
	<p class="card-text">Tags: 
		{% for tag in book.get_tags %}
			<a href="{% url 'book:book-tag' tag.code %}">{{ tag.name }}</a>, 
		{% endfor %}
	</p>
	-->
	</div>
	</div>

{% endif %}

{% if book.volume_set.all %}
<div class="album p-4 bg-light">
<div class="row">

{% for volume in book.volume_set.all %}

	{% if book.volume_set.count == 1 %}

	<div class="col-lg-6 col-md-6">
	<div class="card mb-4">
	{% if volume.image %}
	<img src="{{ volume.image.url }}" class="card-img-top">
	{% endif %}
	<div class="card-body">
	{% if volume.alt_title %}
	<h4 class="card-title">{{ volume.alt_title }}</h4>
	{% else %}
	<h4 class="card-title">{{ volume.title }} {{ volume.volume }}</h4>
	{% endif %}
	<h5 class="card-text">Price:
	<small>P{{ volume.price }}</small>
	</h5>
	</div>
	<div class="card-footer text-muted">
	{{ volume.get_availability }}
	</div>
	</div>
	</div>

	{% elif book.volume_set.count == 2 %}
	<div class="col-lg-6 col-md-6">
	<div class="card mb-4 box-shadow">
	{% if volume.image %}
	<img src="{{ volume.image.url }}" class="card-img-top">
	{% endif %}
	<div class="card-body">
	{% if volume.alt_title %}
	<h4 class="card-title">{{ volume.alt_title }}</h4>
	{% else %}
	<h4 class="card-title">{{ volume.title }} {{ volume.volume }}</h4>
	{% endif %}
	<h5 class="card-text">Price:
	<small>P{{ volume.price }}</small>
	</h5>
	</div>
	<div class="card-footer text-muted">
	{{ volume.get_availability }}
	</div>
	</div>
	</div>


	{% else %}
	<div class="col-lg-4 col-md-6">
	<div class="card mb-4 box-shadow">
	{% if volume.image %}
	<img src="{{ volume.image.url }}" class="card-img-top">
	{% endif %}
	<div class="card-body">
	{% if volume.alt_title %}
	<h4 class="card-title">{{ volume.alt_title }}</h4>
	{% else %}
	<h4 class="card-title">{{ volume.title }} {{ volume.volume }}</h4>
	{% endif %}
	<h5 class="card-text">Price:
	<small>P{{ volume.price }}</small>
	</h5>
	</div>
	<div class="card-footer text-muted">
	{{ volume.get_availability }}
	</div>
	</div>
	</div>
	{% endif %}

{% endfor %}
</div>
</div>

<div class="jumbotron text-center">
<h3>Get in touch with us via <a href="https://m.me/be.moe.ph">Messenger</a>!</h3>
<p></p>
</div>

{% endif %}
</div>

<!-- CTA -->



{% endblock %}