{% extends "head.html" %}

{% block content %}

<!--Main-->
<section id="main" class="container">


{% if book %}
	<section class="box special features">
	<div class="features">
	<span class="image featured">
		{% if book.banner %}
		<img src="{{ book.banner.url }}" alt="{{ book.banner.name }}" />
		{% endif %}
	</span>
	<header>
	<h2>{{ book.title }}</h2>
	<p>{{ book.summary }}</p>
	</header>
	<hr>
	<div class="row">
	<div class="4u 12u(narrower)">
	<p>Author: 
		<a href="{% url 'book:book-author' book.author.code %}">{{ book.author.name }}</a> 
	</p>
	</div>	
	<div class="4u 12u(narrower)">
	<p>Genre: 
		<a href="{% url 'book:book' book.genre.code %}">{{ book.genre.name }}</a> 
	</p>
	</div>
	<div class="4u 12u(narrower)">
	<p>Tags: 
		{% for tag in book.get_tags %}
			<a href="{% url 'book:book-tag' tag.code %}">{{ tag.name }}</a>, 
		{% endfor %}
	</p>
	</div>
	</div>
	</div>
	
	</section>

{% endif %}

{% if book.volume_set.all %}
<section class="box">
<div class="row">
{% for volume in book.volume_set.all %}

	{% if book.volume_set.count == 1 %}

	<div class="6u 12u(narrower)">
	<span class="image fit">
		{% if volume.image %}
		<img src="{{ volume.image.url }}">
		{% endif %}
	</span>
	</div>
	<div class="6u 12u(narrower)">
	<header>
		{% if volume.alt_title %}
		<h2>{{ volume.alt_title }}</h2>
		{% else %}
		<h2>{{ volume.title }}</h2>
		{% endif %}
	
		<p>{{ volume.get_availability }}</p>
	</header>
	<h4>Price</h4>
	<p>P{{ volume.price }}</p>
	</div>

	{% elif book.volume_set.count == 2%}
	<div class="6u 12u(narrower)">
	<span class="image fit">
		{% if volume.image %}
		<img src="{{ volume.image.url }}">
		{% endif %}
	</span>
	<header>
		{% if volume.alt_title %}
		<h2>{{ volume.alt_title }}</h2>
		{% else %}
		<h2>{{ volume.title }} {{ volume.volume }}</h2>
		{% endif %}
	
		<p>{{ volume.get_availability }}</p>
	</header>
	<h4>Price</h4>
	<p>P{{ volume.price }}</p>
	</div>

	{% else %}
	<div class="4u 6u(narrower)">
	<span class="image fit">
		{% if volume.image %}
		<img src="{{ volume.image.url }}">
		{% endif %}
	</span>
	<header>
		{% if volume.alt_title %}
		<h2>{{ volume.alt_title }}</h2>
		{% else %}
		<h2>{{ volume.title }} {{ volume.volume }}</h2>
		{% endif %}
	
		<p>{{ volume.get_availability }}</p>
	</header>
	<h4>Price</h4>
	<p>P{{ volume.price }}</p>
	</div>

	{% endif %}


{% endfor %}
</div>
<section class="special">
<h3>Get in touch with us via <a href="https://m.me/be.moe.ph">Messenger</a> or get our contact details <a href="{% url 'flatpages:flatpage' 'about-us' %}#contact">Here</a>!</h3>
<p></p>
</section>
</section>
{% endif %}

</section>

<!-- CTA -->



{% endblock %}