{% extends "head.html" %}

{% block content %}

<!--Main-->

<section id="main">

	<section class="box special features">
	<div class="features">
	<section>
	<form method="get" action="{% url 'book:book-search' %}">
	<input type="text" name="q" maxlength="100" required id="id_q" placeholder="Search Books Here" />
	</form>
	<header>
	<h2>{{ genre_details.name | capfirst }}</h2>
	<p>{{ genre_details.description }}</p>
	</header>
	</section>
	</div>
	</section>

<section class="container">

{% if search_result %}
<section class="box">
<div class="row">
{% for book in search_result %}
	<div class="4u 6u(narrower)">
	<span class="image fit">
		{% if book.get_first_volume_image %}
		<a href="{% url 'book:book-detail' book.genre.code book.code %}">
		<img src="{{ book.get_first_volume_image.url }}" alt="{{ book.get_first_volume_image.name }}"></a>
		{% endif %}
	</span>
	<header>
		<a href="{% url 'book:book-detail' book.genre.code book.code %}">
		<h2>{{ book.title }}</h2>
		</a>
		<p>{{ book.author.name }}</p>
	</header>
	</div>
{% endfor %}
</div>
</section>

{% else %}

<section class="box">
<div class="row special">
	<header>
		<h2>No book found for query "{{ get_form }}"</h2>
		<a href="{% url 'index' %}">
		<p>Go back to Home</p></a>
	</header>
</div>
</section>

{% endif %}

</section>
{% endblock %}